body{
  margin:0;
  padding:0;
}
html{
  scroll-behavior: smooth;
}
#nav-left{
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  padding-top: 15px;
  padding-left: 15px;
}
.content-page hr{
  background-color:#59C3C3;

}
.content-page h4{
  color:#59C3C3;
}
.content-page{
  background-color: #323F4C;
  color:#BAD2D4;
  padding-top: 20px;
}
.json{
  color:#59C3C3;
}
#left-menu{
  background-color: #F4F5F8;
}
#left-menu h3{
  padding-left:20px ;
  padding-bottom: 10px;
}
.collapse{
  margin-bottom: 10px;
}
#nav-left .card a{
  color:#323F4C;
}
.btn{
  list-style-type: none;
}



