.Main {
    display: flex;
    height: fit-content;
    padding: 0 1%;
    width: 100%;
    align-items: center;
}

.info {
    padding: 0 10%;
    flex:1;
    font-size: 200%;
    font-weight: bold;
}

.inner {
    position: absolute;
    z-index: 2;
}

.holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width : 1146px) {
    .Main {
        font-size: 10px;
    }
}

@media (max-width : 615px) {
    .Main {
        font-size: 6px;
    }
}