.Center {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1;
    transition: all 500ms;
    opacity: 1;
}

.User .small {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Bottom {
    width: 100%;
    flex: 1;
    flex-flow: column;
    align-items: center;
}

.Center .Container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.Center .Container .Card {
    position: relative;
    padding: 0;
    overflow: hidden;
    width: 40%;
    min-width: 0;
}

.Buttons .Button {
    font-size: 2em;
    width: 250px;
    height: 100px;
}

.Buttons {
    padding: 1% 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.main {
    height: 100%;
    display: flex;
    align-items: center;
}

.User {
    position: relative;
    flex-flow: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 27vh;
    width: 100%;
}

.Details {
    padding-left: 5%;
    height: 100%;
    font-size: 1.5em;
}

.Name {
    font-weight: bold;
    font-size: 1em;
    padding: 5% 0;
}

.filler {
    height: 40%;
    width: 100%;
}

.Details .Button2 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
}

.User .Pic {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 6px solid purple;
    box-sizing: border-box;
    margin-left: 5%;
}

.background {
    align-self: start;
    position: absolute;
    height: 40%;
    width: 100%;
    background-image: linear-gradient(to right, red, blue);
}

.Bottom {
    flex: 3;
    justify-content: space-between;
    display: flex;
    padding: 1% 0;
    width: 40%;
}

.dismiss {
    transition: all 500ms;
    opacity: 0;
}

@media (max-width: 1200px) {
    .Center .Container {
        flex-flow: column;
        justify-content: space-between;
    }

    .Bottom {
        flex: 0;
        height: fit-content;
        width: 100%;
    }
}

.D {
    height: 100%;
}

@media (max-width: 1050px) {

    .Details {
        padding: 10% 0;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .background{
        height: 30%;
    }

    .User {
        padding: 0;
        flex-flow: column;
        height: fit-content;
        justify-content: space-between;
    }

    .main {
        flex-flow: column;
        align-items: center;
    }

    .User .Pic {
        width: 166px;
        height: 166px;
        margin-top: 10px;
        margin-left: 0;
    }
}

@media (max-width :730px) {

    .background {
        height: 27%;
    }

    .Details {
        padding: 15px;
    }

    .Bottom{
        flex:1;
    }

    .Bottom .Buttons{
        justify-content: space-evenly;
        align-items: center;
        flex:1;
        flex-direction: column-reverse;
    }
}

@media (max-width: 570px){
    .Buttons .Button{
        width: 100%;
        min-width: 0;
    }

    .Center .Container .Card{
        width: 100%;
    }
}