table {
  text-align: left;
  position: relative;
  border-radius: 10px;
  width: 100%;
}

p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.main {
  height: 78vh;
  overflow: scroll;
  border-radius: 10px;
  border : 1px solid black;
}

table , td , tr {
  background-color: cornflowerblue;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

th, td {
  padding: 15px;
}

th {
  background: cornflowerblue;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 1px solid black; 
}

table tr button{
  margin-left: 5px;
}

.finish {
  margin:15px 0px 15px 45%;
  padding:  10px 10px;
}