/* .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  } */
  
  /* .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  } */
  
  /* .sidenav a:hover {
    color: #f1f1f1;
  } */
  

  .main {
    /* margin-left: 160px;  */
    font-size: 28px; 
    padding: 0px 10px; 
    overflow: scroll;
  }

  .main p {
    text-align: center;
    color: brown;
    /* border: solid 2px cyan;
    border-radius: 20%; */
    display: block;
    padding: 5px;
  }
  
    /* @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    } */

    .App_App__1UEGG {
      overflow: scroll;
    }
.main table {
    width: 100%;
    overflow: scroll;
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: blue;
    color: white;
  }

  th, td {
    padding: 15px;
  }

table tr button{
    margin-left: 5px;
}

.finish {
    margin:15px 0px 15px 600px;
    padding:  10px 10px;
}