.main {
    /* margin-left: 160px;  */
    font-size: 28px; 
    height: 100%;
    padding: 0 5%;
    overflow: auto;
    padding-top: 15px;
  }

  .main p {
    text-align: center;
    color: brown;
    /* border: solid 2px cyan;
    border-radius: 20%; */
    display: block;
    padding: 5px;
  }

.main table {
  width:100%;

}



table, th, td {
    border-radius: 33px;
    border-collapse: collapse;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
  }
  th {
    border-bottom: 2px solid black;
  }  

  th, td {
    padding: 15px;
  }

table tr button{
    margin-left: 5px;
}

.finish {
    margin:15px 0px 15px 45%;
    padding:  10px 10px;
}