/* .container { 
    /* border: 2px solid  darkblue; 
    /* border-radius: 5%; 
    padding: 10px;
    margin: 15px;
    background-color: violet;
}*/

.Vedio {
    /* background-color: black; */
    margin-top: 30px;
    display: flex;
    /* margin: 0px 70px; */
    width: 100%;
}

.Vedio .vediolist {
    display: flex;
    flex-direction: column;
    border: 3px olive solid;
    justify-content:space-around;
    color: blanchedalmond;
    width: 20%;
    list-style-type: none;
    background-color: purple;
    margin-left: 40px;
    padding: 0;
}

.Vedio .vediolist li {
    border: 3px black solid;
    padding: none;
    height: fit-content;
    width: 80%;
    margin: auto;
    text-align: center;
}





