.container {
    border: 2px solid  darkblue;
    border-radius: 5%;
    padding: 10px;
    margin: 15px;
    background-color: violet;
}

.Vedio {
    /* background-color: black; */
    margin-top: 30px;
    display: flex;
    /* margin: 0px 70px; */
    width: 100%;

}

.Vedio .vediolist {
    display: flex;
    flex-direction: column;
    border: 3px olive solid;
    justify-content:space-around;
    color: blanchedalmond;
    width: 15%;
    
}

.Vedio .vediolist li {
    border: 2px red solid;
    padding: none;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    height: fit-content;
    width: 100%;
    text-align: center;
}





