.SwipeList {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    padding-top: 50px;
}

.InnerSwipeList {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
    margin: 0 5%;
    padding: 1%;
    position: relative;
    scroll-behavior: smooth;
    align-items: center;
}

.Left {
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 0;
    z-index: 70;
    border-radius: 100%;
    width: 4vw;
    height: 4vw;
    outline: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Right .Button, .Left .Button{
    width: 100%;
    height: 100%;
    font-size: 400%;
}

.Right {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 70;
    border-radius: 100%;
    overflow: hidden;
    width: 4vw;
    height: 4vw;
    outline: none;
}