.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid white;
    width: 2vw;
    height: 2vw;
    padding: 0.5vw;
    background-color: purple;
    text-overflow: clip;
}