
/* Style the tab */
.tab {
  float: left;
  background-color: #4848a1;
  width: fit-content;
  height: 800px;
  margin: 10px;
  border-radius: 20px;
  border: 1px hidden black;
}

/* Style the buttons that are used to open the tab content */
.button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 16px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  border: 1px hidden black;
  border-radius: 15px;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.button:hover {
  background-color: rgba(187, 187, 187, 0.3);
}

/* Create an active/current "tab button" class */
.button.active {
  background-color: rgba(155, 155, 155, 0.3);
}

/* Style the tab content */
.tabcontent {
  float: left;
  border: 1px hidden #ccc;
  margin: 5px;
  width: fit-content;
  border-left: none;
  height: fit-content;
}

.logo {
  margin-bottom: 60px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.logo:hover {
  background-color: rgba(187, 187, 187, 0.3);
}

.bottomTab {
  margin: auto;
  position: relative;
  bottom: 0px;
  width: fit-content;
  border-top: 1px solid #bbb;
}

