.title {
  font-size: 20pt;
  font-weight: bold;
  text-transform: capitalize;
  margin: 10px;
  width: 100%;
}

.scrollableList {
  margin: 10px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.conversationList {
  width: fit-content;
  float: left;
  padding: 10px;
  margin: 10px;
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
}


@media (max-width: 1000px) {
  .conversationList {
    position: fixed;
    width: 250px;
    height: 455px;
    background-color: rgb(221, 221, 221);
    transition: all .3s cubic-bezier(0, .52, 0, 1);
  }

  .listClosed {
    transform: translateX(-100%);
    transition: all .3s cubic-bezier(0, .52, 0, 1);
    opacity: 0;
  }
}

.tabs {
  display: flex;
  align-items: center;
  padding: 10px;
}

.tabs:hover {
  background: #eeeef1;
  cursor: pointer;
}

.search {
  float: right;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  background: #dddddd;
  color: white;
  font-size: 17px;
  border: 1px hidden;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.search:hover {
  background: #a8a8a8;
}

.newMessage {
  float: right;
  margin: auto;
  position: absolute;
  bottom: 10px;
  width: fit-content;
}