.Holder {
    display: flex;
    flex: 1;
    flex-flow: column;
}

.Holder .Card {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.results h1{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
}

.results {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 46vh;
    overflow: auto;
}