.Main {
    background-color: white;
    padding: 40px;
    width: 100%;
    min-width: 20vw;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    height: fit-content;
}

.Row{
    flex-flow: row;
}

.Column{
    flex-flow: column;
}

.shadow{
    box-shadow: 0px 0px 1vw grey;
}

@media (max-width : 662px) {
    .Main {
        padding: 24px;
    }
}

@media (max-width : 600px) {
    .Main {
        min-width: 30vw;
    }
}

