.Center {
  width: 100%;
  display: flex;
}

.Center .Card {
  align-items: flex-start;
  flex: 3;
  height: fit-content;
}

.Home {
  flex: 3;
}

.CoursesPage {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.CoursesList {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-self: space-between;
  align-items: flex-start;
  height: 100vh;
  width: 100%;

}

.CourseOverview {
  flex: 2;
  height: 100vh;
}


@media (max-width : 1325px) {
  .CoursesList {
    flex-direction: row ;
    padding-right: 100px;
  }
  .CoursesPage {
    flex-direction: column;
  }
}

