.Main {
    background-color: gainsboro;
    padding: 50px;
    height: -webkit-fill-available;
}

.Blue {
    padding: 15px;
    flex: 5;
    height: -webkit-fill-available;

}

.Image {
    max-height: -webkit-fill-available;
    max-width: 100%;
}