.CourseTitle {
    text-align: start;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 5%;
}

.CourseDes {
    text-align: start;
    font-size: large;
}

.dismiss{
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2% 3%;
}

.Bottom {
    height: 100%;
    padding: 1vw;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: white;
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    z-index: 5;
    box-shadow: 0px 0px 1px gray;
    text-align: center;
    cursor: pointer;
}

.Joined{
    display: flex;
    position: relative;
    align-items: center;
    height: 3vw;
    width: 70%;
    justify-content: flex-end;
}

.Circle{
    position: absolute;
}