.list {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  width: 75%;
}

.container {
  margin: 10px;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.title {
  font-size: 25pt;
  font-weight: bold;
  text-transform: capitalize;
  margin: 10px;
}

.search {
  float: right;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  background: #dddddd;
  color: white;
  font-size: 17px;
  border: 1px hidden;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.search:hover {
  background: #a8a8a8;
}

.button {
  display: none;
}

@media (max-width: 1000px) {
  .list{
    width: 100%;
  }

  .button {
    float: left;
    display: block;
    background-color: inherit;
    color: black;
    padding: 8px;
    margin: 10px;
    width: fit-content;
    border: 1px hidden black;
    border-radius: 15px;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  .button:hover {
    background-color: rgba(187, 187, 187, 0.3);
  }
}