.Main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
    align-items: center;
    height: 4vw;
    position: relative;
    width: 25vw;
    font-size: medium;
}

.full {
    outline: none;
    position: absolute;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    z-index: 200;
    /* border: 10px solid; */
}

.Main .holder {
    font-size: small;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 100%;
    position: relative;
}


.notif {
    color: white;
    background-color: red;
    border-radius: 100%;
    width: 30%;
    height: 30%;
    text-justify: center;
    text-align: center;
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 1vw;
}

.status {
    z-index: 20;
    background-color: rgb(0, 255, 0);
    border-radius: 100%;
    width: 20%;
    height: 20%;
    border: 2px solid white;
    position: absolute;
    right: 0;
    top: 0;
}


.Main2 {
    display: none;
    justify-content: space-between;
    width: 25vw;
    padding-bottom: 1%;
    align-items: center;
}


.drowpdown,
.dropbtn {
    display: none;
}

.small {
    display: none;
}

@media (max-width : 600px) {
    .Main {
        display: none;
    }

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        display: block;
    }

    /* The container <div> - needed to position the dropdown content */
    .drowpdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown_content {
        display: block;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    }

    /* Links inside the dropdown */
    .dropdown_content .Main2 {
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: none;
        background-color: pink;
    }

    /* Change color of dropdown links on hover */
    .dropdown_content .Main2:active {
        background-color: blue;
    }

    .dropdown_content:hover .Main2 {
        display: flex;
        flex-direction: column;
    }

    /* Show the dropdown menu on ac:hover */
    .drowpdown:hover .dropdown_content {
        display: flex;
        flex-direction: column;
    }

    .drowpdown:hover .Main2{
        display: flex;
        flex-direction: column;
        border: red solid 2px;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .drowpdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    .full {
        left: 90%;
    }
    .large {
        display: none;
    }
    .small {
        display: flex;
    }
}

.holder .UserImage {
    position: absolute;
    z-index: 100;
    width: 60%;
    height: 60%;
    border-radius: 10%;
}

.Back {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background-color: blueviolet;
}

.Icon {
    font-size: 4vw;
}