.AddEvent {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.CreateDiscardContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items:center;
    padding: 10px 0;
}
.ModalContainer {
    position:absolute;
    width: 1000px;
    transform:translate(30%,80%);
}
.Container{
    width: 100%;
}
.Container .Holder{
    font-size: 100%;
    width: 100%;
    margin: 0 0 10% 0;
}
