.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid white;
    width: 3vw;
    height: 3vw;
    background-color: purple;
    overflow: hidden;
}