.CoursePicture {
  height: 40%;
  box-sizing: border-box;
  border-radius: 10%;
  margin: 4% 1%;
  width: 90%;
  object-fit: contain;
}

.CourseOverview {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.ButtonsRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
}
.Button{
    margin: 2% 5%;
    width: 400px
}

.DocPic{
  text-align: right;
  /* border: 2px solid blue; */
  padding: 10px;
}