.content {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.list {
  height: 530px;
}

.title {
  font-size: 25pt;
  font-weight: bold;
  text-transform: capitalize;
  margin: 10px;
}

.search {
  float: right;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  background: #dddddd;
  color: white;
  font-size: 17px;
  border: 1px hidden;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.search:hover {
  background: #a8a8a8;
}