.Top {
    margin: 5% 4% 0;
    height: 80%;
}

.Top .Image {
    height: 65%;
    width: 100%;
}

.Main .Card {
    padding: 0;
    border: 2px solid purple;
    overflow: hidden;
    height: 100%;
    position: relative;
}


.CourseTitle {
    text-align: start;
    font-size: 1.5vw;
    font-weight: bold;
    padding-bottom: 5%;
}

.Bottom {
    display: flex;
    border-top: 2px solid purple;
    padding: 0 5%;
    height: 40%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 208, 208);
    font-size: 1.5vw;
    font-weight: bold;
}

@media(max-width: 1575px){
    .Top .Image{
        height: 50%;
    }
    .CourseTitle {
        font-size: 1.7vw;
    }
    .Bottom{
        font-size: 1.7vw;
    }
}

@media(max-width: 1025px){

    .CourseTitle {
        font-size: 2vw;
    }
    .Bottom{
        font-size: 2vw;
    }
}

@media(max-width: 940px){
    .Top .Image{
        height: 70%;
    }
    
    .CourseTitle {
        font-size: 2.5vw;
    }
    .Bottom{
        font-size: 2.5vw;
    }
}

@media(max-width: 600px){
    .Top .Image{
        height: 50%;
    }
    
    .CourseTitle {
        font-size: 4vw;
    }
    .Bottom{
        font-size: 4vw;
    }
}