.title {
  font-size:25pt;
  font-weight: bold;
  text-transform: capitalize;
  margin: 10px;
}

.scrollableList {
  margin: 10px;
  flex-direction: column;
  width: fit-content;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}

.conversationList {
    width: fit-content;
    float: left;
    padding: 10px;
    margin: 10px;
    height: 800px;
    display: flex;
    flex-direction: column;
  }

  .tabs {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .tabs:hover {
    background: #eeeef1;
    cursor: pointer;
  }

  .search {
    float: right;
    width: fit-content;
    margin: 10px;
    padding: 10px;
    background: #dddddd;
    color: white;
    font-size: 17px;
    border: 1px hidden;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }

  .search:hover {
    background: #a8a8a8;
  }

  .newMessage {
    float: right;
    margin: auto;
    position: absolute;
    bottom: 10px;
    width: fit-content;
  }