.Modal {
    position: fixed;
    z-index: 2000;
    background-color: rgb(255, 230, 6);
    width: 70%;
    border: 10px solid rgb(252, 5, 5);
    border-radius: 35px;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}