.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid white;
    width: 7vh;
    height: 7vh;
    background-color: purple;
    text-overflow: clip;
    box-sizing: border-box;
}