.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #bbb;
  transition: 0.3s;
}

.item:hover {
  background: #eeeef1;
  cursor: pointer;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}

.conversation-info{
  width: 70%;
  
}

.snippet {
  font-size: 14px;
  color: #888;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.status {
  z-index: 20;
  background-color: rgb(0, 255, 0);
  border-radius: 100%;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(92, 92, 92);
  position: absolute;
  right: 0;
  top: 0;
}

.offline {
  background-color: lightgrey;
}

.holder {
  outline: none;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 100%;
  position: relative;
  font-size: 10px;
  padding-right: 7px;
}