.Center {
    display: flex;
}

.Home {
    flex: 3;
}

.Center .Container {
    align-items: flex-start;
    height: fit-content;
}

.Center .Container .Card {
    position: relative;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.User {
    position: relative;
    flex-flow: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 27vh;
    width: 100%;
}

.Details {
    height: 100%;
    margin: 0 2% 0;
    font-size: x-large;
}

.Name{
    font-weight: bold;
    font-size: xx-large;
    padding: 5% 0;
}

.filler{
    height: 40%;
    width: 100%;
}

.User .Pic {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 6px solid purple;
    box-sizing: border-box;
    margin: 3%;
}

.User .Note{
    padding: 0;
    margin: 0 3%;
    height: 85%;
    width: 21%;
    min-width: 0;
    align-items: center;
    justify-content: center;
}

.background {
    align-self: start;
    position: absolute;
    height: 40%;
    width: 100%;
    background-image: linear-gradient(to right, red, blue);
}

.Bottom {
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 1%;
    width: 100%;
    height: 100%;
}