.Center {
    display: flex;
}

.Home {
    flex: 3;
}

.Center .Container {
    align-items: flex-start;
    height: fit-content;
}

.D {
    height: 100%;
    width: 60%;
}
.DD{
    display: flex;
    align-items: center;
}

.Center .Container .Card {
    position: relative;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-width: 0;
}

.main{
    height: 100%;
    display: flex;
    align-items: center;
    width: 60%;
}

.User {
    position: relative;
    flex-flow: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 27vh;
    width: 100%;
}

.Details {
    padding-left: 5%;
    height: 100%;
    font-size: 1.5em;
}

.Name{
    font-weight: bold;
    font-size: 1em;
    padding: 5% 0;
}

.filler{
    height: 40%;
    width: 100%;
}

.User .Pic {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 6px solid purple;
    box-sizing: border-box;
    margin-left: 5%;
    object-fit: contain;
}

.background {
    align-self: start;
    position: absolute;
    height: 40%;
    width: 100%;
    background-image: linear-gradient(to right, red, blue);
}

.Bottom {
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 1%;
    width: 100%;
    height: 100%;
}
.small {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.small .Note {
    align-content: center;
    padding: 0;
    height: 85%;
    width: 45%;
    min-width: 0;
    align-items: center;
    justify-content: center;
}

@media (max-width : 662px) {
    .main{
        flex-flow: column;
    }
    .Center .Container .Card {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .User {
        padding: 0;
        flex-flow: column;
        height: fit-content;
        justify-content: space-between;
    }
    .background  {
        height: 27%;
    }
    .Details {
        padding: 15px;
    }
    .small {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .small .Note {
        margin: 0 auto 10px;
        width: 75%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .Bottom {
        flex-direction: column-reverse;
    }
    .User .Pic {
        width: 166px;
        height: 166px;
        margin-top: 10px;
    }
}