.Login{
    text-align: start;
    flex: 2;
    width: -webkit-fill-available;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: -webkit-fill-available;
}

.MainTitle{
    font-size: 200%;
    color: red;
}

.Main{
    display: block;
    justify-content: center;
    height: -webkit-fill-available;
    min-height: 75%;
    width: -webkit-fill-available;
    overflow: auto;
    transition: all 200ms;
}