.Title{
    font-size: 150%;
    font-weight: 100;
    color: rgb(132, 0, 255);
    font-weight: normal;
}

.Field{
    border: 1px solid rgb(216, 215, 215);
    background-color: rgb(225, 225, 241);
    border-radius: 10px;
    height: 50px;
    width:-webkit-fill-available;
    padding-left: 15px;
    font-size: large;
    outline: none;
    transition: 200ms;
}

.Field:focus{
    border: 5px solid blue;
}

.ErrorField{
    border: 2px solid rgb(255, 60, 0);
}