.SwipeList {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    padding-top: 50px;
}

.Join,
.Join2 {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: x-large;
    background-color: blueviolet;
    border-radius: 10px;
    width: fit-content;
    height: 7vh;
    box-shadow: 0px 0px 1px gray;
    text-align: center;
    cursor: pointer;
    order: 2;
}

.Join2 {
    display: none;
}

.InnerSwipeList {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
    margin: 0 5%;
    padding: 1% 1%;
    position: relative;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
}

.Left {
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 0;
    z-index: 70;
    border-radius: 100%;
    width: 4vw;
    height: 4vw;
    outline: none;
    border: 3px solid purple;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-size: 400%;
}

.Right {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 70;
    border-radius: 100%;
    border: 3px solid purple;
    overflow: hidden;
    width: 4vw;
    height: 4vw;
    background-color: aliceblue;
    outline: none;
    font-size: 400%;
}

.Title {
    text-align: start;
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CoursesArea {
    width: 100%;
    height: fit-content;
}

@media (max-width : 800px) {
    .CoursesArea {
        padding-bottom: 5px;
        flex-flow: column;
        display: flex;
    }

    .SwipeList {
        flex-grow: 5;
        padding: 0;
    }

    .Join {
        display: none;
    }

    .Join2 {
        align-self: flex-end;
        display: flex;
        font-size: large;
    }

    .Left {
        font-size: 200%;
    }

    .Right {
        font-size: 200%;
    }
}