.Center {
  width: 100%;
  display: flex;
  flex-flow: column;
  height: 73vh;
}

.Center .Card {
  align-items: flex-start;
  flex: 3;
  height: 100%;
}

.CoursesPage {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.CoursesList {
  padding: 1% 0 0 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 30%;
  max-width: 25vw;
  overflow-y: auto;
}

.CourseOverview {
  flex: 2;
  height: 100%;
}


@media (max-width : 1325px) {
  .Center{
    flex-flow: column;
    flex:1
  }
  .CoursesList {
    flex-direction: row ;
    min-height: 30%;
    max-width: 100%;
    width: 100%;
    overflow-y: hidden;
    padding: 1% 0 0 1%;
  }
  .CourseOverview{
    flex:0;
    width: 100%;
    height: 62%;
  }
  .CoursesPage {
    flex-direction: column;
  }
}

