.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 10px;
    
    font-size: x-large;
    font-weight: bold;
    min-width: 60px;
    width: fit-content;
    padding: 1% 5%;
    min-height: 60px;
    height: fit-content;
    outline: none;
    transition: 200ms;
    box-shadow: 0px 5px 10px grey;
    cursor: pointer;
}

.Default{
    background-color: rgb(8, 30, 228);
    color: rgb(250, 250, 250);
}

.Cancel{
    background-color: rgb(228, 8, 8);
    color: rgb(250, 250, 250);
}

.Default:hover,
.Default:active {
    background-color: rgb(250, 250, 250);
    color:  rgb(8, 30, 228);
    /* box-shadow: 0px 10px 20px grey; */
}

.Cancel:hover,
.Cancel:active {
    background-color: rgb(250, 250, 250);
    color:  rgb(228, 8, 8);
    /* box-shadow: 0px 10px 20px grey; */
}

.Button:disabled {
    background-color: rgb(97, 97, 97);
    color: rgb(185, 185, 185);
    box-shadow: 0 0 0 0;
}