.NewPost {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newPostLabel{
    flex: 1;
    font-size: 20px;
}

.PostButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 3;
    border: 2px solid rgba(190, 190, 190, 0.541);
    border-radius: 10px;
    padding: 0.5% 1%;
    transition: 200ms;
    position: relative;
}

.PostButton:hover {
    background-color: rgba(158, 157, 157, 0.541);
}

.InnerPostButton {
    cursor: pointer;
    text-align: start;
    color: rgb(78, 78, 78);
    outline: none;
    background-color: transparent;
    border: 0;
    font-size: medium;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

@media (max-width : 600px) {
    .NewPost {
        flex-direction: column;
    }
    .newPostLabel {
        padding-bottom: 10px;
    }
    .InnerPostButton {
        font-size: large;
    }
}