.Main{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 1%;
    height: fit-content;
    position: relative;
    width: 100%;
}

@media (max-width : 590px) {
    .Main {
        padding: 0;
    }
}
