.Login{
    text-align: start;
    flex: 2;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 5% 0 0;
}

.MainTitle{
    font-size: 200%;
    color: red;
}

.Main{
    display: block;
    justify-content: center;
    overflow: auto;
    transition: all 200ms;
}