.SwipeList {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.InnerSwipeList {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
    margin: 0 5%;
    padding: 1% 1%;
    position: relative;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
}

.overFlow{
    justify-content: flex-start;
}

.Left {
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 0;
    z-index: 70;
    border-radius: 100%;
    width: 4vw;
    height: 4vw;
    outline: none;
    border: 3px solid purple;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-size: 400%;
}

.Right {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 70;
    border-radius: 100%;
    border: 3px solid purple;
    overflow: hidden;
    width: 4vw;
    height: 4vw;
    background-color: aliceblue;
    outline: none;
    font-size: 400%;
}

.Title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: start;
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 1%;
}

.GroupsArea {
    height: fit-content;
    padding-top: 1%;
    width: 100%;
}

@media (max-width : 800px) {
    .Title{
        flex-flow: column;
    }
    .Title .Button{
        align-self: center;
    }
    .GroupsArea {
        padding-bottom: 5px;
    }
    .SwipeList {
        flex-grow: 5;
        padding:0;
    }
    .Left{
        font-size: 200%;
    }
    .Right{
        font-size: 200%;
    }
}
