.SwipeList {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.InnerSwipeList {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
    margin: 0 5%;
    padding: 1% 1%;
    position: relative;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
}

.overFlow{
    justify-content: flex-start;
}

.Left {
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 0;
    z-index: 70;
    border-radius: 100%;
    width: 4vw;
    height: 4vw;
    outline: none;
    border: 3px solid purple;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.Right {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 70;
    border-radius: 100%;
    border: 3px solid purple;
    overflow: hidden;
    width: 4vw;
    height: 4vw;
    background-color: aliceblue;
    outline: none;
}

.Title {
    text-align: start;
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 1%;
}

.GroupsArea {
    padding-top: 1%;
    width: 100%;
}

