* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: right;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
}


/* Style the tab content */
.tabcontent {
  float: right;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}