
  .Guidance{
    align-self: center;  
    display: flex;  
    height: 50%;
    width: 100%;
    overflow: auto;
    padding: 1% 2%;
    margin: 1% 0;
    border-radius: 50px;
    border: 5px solid silver;
    background-color: gray;
}

.Guidance .Circle{
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    padding: 0;
    margin: 0 1% 0 0;
}

.Guidance .Done{
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    padding: 0;
    margin: 0 1% 0 0;
    color: black;
    background-color:chartreuse;
}

.Guidance .Done:hover{
    background-color: rgba(81, 161, 0, 0.993);
    color: white;
}

.Guidance .Active{
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    padding: 0;
    margin: 0 1% 0 0;
    color: black;
    background-color:#a6b4f3;
}

.Question {
    display: block;
    border: 1px solid #616a94;
    border-radius: 15px;
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-size: 1em;
    outline: none;
    user-select: none;
    margin-top: 1em;
    cursor: pointer;
}

.Question:hover {
    color: white;
    background-color: #616a94;
  }