 .Main {
     display: flex;
     flex-flow: column;
     align-items: center;
     width: 100%;
     max-width: 20vw;
     padding: 0 0 0 1vw;
 }

 .Title {
     align-self: start;
     text-align: start;
     padding: 2vh 0 0;
     font-size: 200%;
     color: blueviolet;
     font-weight: bold;
 }

 .Desc {
     text-align: start;
     padding: 5vh 0;
     font-size: 250%;
     font-weight: bold;
     display: flex;
     text-overflow: clip;
     text-align: start;
 }

 .Invited {
     text-align: start;
     font-size: 130%;
     padding-bottom: 1vh;
 }

