.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content {
  width: 90%
}

.Holder .Input {
  margin: 1% 0;
  border: 10px solid rgb(0, 204, 255);
  outline: none;
}

.Holder .image {
  height: 15%;
  width: 20%;
}

.Group_Select{
  display: flex;
}

.button {
  align-self: center;
  margin: auto;
  display: block;
  font-size: 15pt;
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 8px;
  margin-top: 10px;
  width: 20%;
  border: 1px hidden black;
  border-radius: 15px;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.Handle {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  outline: none;
  background-color: transparent;
  transition: 200ms;
  border-radius: 15px;
  border: 2px dashed gray;
  padding: 1% 0;
}

.Handle:active,
.Handle:hover {
  background-color: rgba(185, 181, 181, 0.534);
}

/* Change background color of buttons on hover */
.button:hover {
  background-color: rgba(187, 187, 187, 0.3);
  color: black;
}

.hide {
  display: none;
}

.timer {
  font-size: 16pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  background-color: rgba(38, 42, 52);
  width: fit-content;
  height: fit-content;
  border-radius: 1vh;
  border: 1px hidden black;
  color: white;
  padding: 15px;
}